<% if current_user %>
	<%= link_to "My profile", "/profile" %><br>
	<%= link_to "All profiles", "/users" %>
<% else %>

<h1><%= @name %>, login if you want to start bidding</h1>

	<%= link_to "Login", "/login" %><br>
  <%= link_to "Sign up", "/signup" %><br>
  <%= link_to "All profiles", "/users" %>

<%end%>
